body {
    background-color: white;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  .Header { /*blue header at the top of the page*/
    margin: auto;
    background: #89CFF0;
    font-family: "Signika Negative SC", Verdana, sans-serif;
    color: white;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    left: 0;
    right: 0;
    top: 0;
    height: 13.5rem;
    max-width: 100%;
    margin-bottom: 5%;
    position: absolute;
    -webkit-app-region: drag; /*allows the user to draw the app window around*/
  }
  
  .Header p { /*Styling the ministry of health logo*/
    text-align: left;
    font-size: 1em;
    background: #98FF98;
    border-bottom-right-radius: 38px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    margin-top: 0;
    color: #000000;
    font-family: 'Roboto', sans-serif;
  }
  .Header #homebutton {
    background-color: #A6F5FF;
    border: 2px solid #89CFF0;
    color: #000000;
    font-size: 20px;
    width: 10.438rem;
    height: 3.563rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    right: 0.5rem;
    top: 5rem;
    position: fixed;
    -webkit-app-region: no-drag; 
  }

  .Header #homebutton:hover {
    background-color: aliceblue;
    color: black;
  }

 .Header #signout {
    background-color: #A6F5FF;
    border: 2px solid #89CFF0;
    color: #000000;
    font-size: 20px;
    width: 10.438rem;
    height: 3.563rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    right: 0.5rem;
    top: 0.5rem;
    position: fixed;
    -webkit-app-region: no-drag;
  }

  .Header #signout:hover {
    background-color: aliceblue;
    color: black;
  }

  .Header h1 { /*Styling the vaccino title*/
    text-align: center;
    font-size: 3em;
  }
  
  .Header h3 { /*styling the subtitle*/
    text-align: center;
    font-size: 1.25em;
  }

  #adminhomebuttons{
    margin-top: 15rem;
    text-align: left;
    padding-left: 150px;
  }
  
  #adminhomemessages{
    margin-top: 15rem;
    padding-left: 300px;
    width: 20.438rem;
    height: 10.563rem;
  }

  #newReport{
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(237, 237, 237);
  }

  #generatedbugreport{
    padding: 20px;
  }

  #bugsection{
    display:flex;
    position: absolute;
    left: 13.5%;
    right: 13.5%;
  }
  
  #logTable{
    margin-top: 18rem;
    min-width: 600px;
    min-height: 500px;
    padding-left: 50px;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
  }

  #adminbugreport{
    margin-top: 18rem;
    text-align: left;
    font-size: 23px;
    border: 1px solid black;
    padding: 6px;
    min-width: 400px;
    min-height: 400px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  #adminhomedisplay{
    display:flex;
    position: absolute;
    left: 13.5%;
    right: 33.5%;
  }
  
  .adminButton{
    background-color: #A6F5FF;
    border: 2px solid #89CFF0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.6em;
    transition-duration: 0.4s;
    width: 15.938rem;
    height: 5.563rem;
    border-radius: 10px;
    margin: 0.8rem;
    box-shadow: 0 8px 10px 0 rgba(166, 245, 255, 1);
    font-family: 'Roboto', sans-serif;
  }
  
  .adminButton:hover{

    background-color: aliceblue;
    color: black;
  }

  #adminmessagestable{
    border: 1px solid black;
    width: 600px;
    height: 470px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
  }

  #resolveButton{
    width: 100px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    margin-left: 37%;
    margin-right: 50%;
    background-color: #A6F5FF;
    border: 2px solid #89CFF0;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    text-align: center;
    text-decoration: none;
    font-size: 1.0em;
    width: 10.438rem;
    height: 3.563rem;
    box-shadow: 0 8px 10px 0 rgba(166, 245, 255, 1);
    font-family: 'Roboto', sans-serif;
  }
  
  #resolveButton:hover{

    background-color: aliceblue;
    color: black;
  }


  #adminalert{
    margin-top: 18rem;
    text-align: center;
  }
  
  #alertleveltext{
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
  }

  #changeAlert{
    background-color: #A6F5FF;
    border: 2px solid #89CFF0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.6em;
    transition-duration: 0.4s;
    width: 15.438rem;
    height: 5.563rem;
    border-radius: 10px;
    margin: 0.8rem;
    box-shadow: 0 8px 10px 0 rgba(166, 245, 255, 1);
    font-family: 'Roboto', sans-serif;
  }

  #changeAlert:hover{
    background-color: aliceblue;
    color: black;
  }
  
  #alert1{
    width: 200px;
    height: 200px;
  }
  
  #admincases{
    margin-top: 18rem;
    text-align: center;
    position: flex;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
  }

  #changeCases{
    background-color: #A6F5FF;
    border: 2px solid #89CFF0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    transition-duration: 0.4s;
    width: 13.438rem;
    height: 4.563rem;
    border-radius: 10px;
    margin: 0.8rem;
    box-shadow: 0 8px 10px 0 rgba(166, 245, 255, 1);
    font-family: 'Roboto', sans-serif;
  }

  #changeCases:hover{
    background-color: aliceblue;
    color: black;
  }

  #casesInput{
    width: 140px;
    height: 40px;
    font-size: 0.9em;
  }
  
  #adminprofile{
    border: 1px solid black;
    padding: 20px;
    margin-top: 18rem;
  }
  
  #adminrecords1{
    margin-top: 18rem;
    text-align: center;
  }
  
  #adminrecords2{
    margin-top: 3rem;
    text-align: center;
  }

  #editProfileButton{
    background-color: #A6F5FF;
    border: 2px solid #89CFF0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    transition-duration: 0.4s;
    width: 14.438rem;
    height: 4.563rem;
    border-radius: 10px;
    margin: 0.8rem;
    box-shadow: 0 8px 10px 0 rgba(166, 245, 255, 1);
    font-family: 'Roboto', sans-serif;
  }

#detailContent{
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

#detailsBox{
  font-family: 'Roboto', sans-serif;
}

#adminprofile2{
  border: 1px solid black;
  padding: 20px;
  display:flex;
}

#qrtitle{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin-left: 205px;
}

#qrcodeimage{
  padding: 30px;
  margin-left: 25px;
  width: 25rem;
  height: 25rem;
}

#pleaseenter {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

#nhiinput {
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
}

  #issueqrcodebutton{
    background-color: #A6F5FF;
    border: 2px solid #89CFF0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    transition-duration: 0.4s;
    width: 11.438rem;
    height: 4.563rem;
    border-radius: 10px;
    margin: 0.8rem;
    box-shadow: 0 8px 10px 0 rgba(166, 245, 255, 1);
    font-family: 'Roboto', sans-serif;
  }

  #searchbutton{
    background-color: #A6F5FF;
    border: 2px solid #89CFF0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    transition-duration: 0.4s;
    width: 11.438rem;
    height: 4.563rem;
    border-radius: 10px;
    margin: 0.8rem;
    box-shadow: 0 8px 10px 0 rgba(166, 245, 255, 1);
    font-family: 'Roboto', sans-serif;
  }

  table, td {
    border: 1px solid black;
    padding: 6px;
  }

  #searchbutton:hover{
    background-color: aliceblue;
    color: black;
  }

  #issueqrcodebutton:hover{
    background-color: aliceblue;
    color: black;
  }

  #editProfileButton:hover{
    background-color: aliceblue;
    color: black;
  }