body {
  overflow: scroll;
  background-color: white;
}

.Header { /*blue header at the top of the page*/
  margin: auto;
  background: #89CFF0;
  font-family: "Signika Negative SC", Verdana, sans-serif;
  color: white;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  left: 0;
  right: 0;
  top: 0;
  height: 14.5rem;
  max-width: 100%;
  margin-bottom: 5%;
  position: fixed;
}

.Header p { /*Styling the ministry of health logo*/
  text-align: left;
  font-size: 1em;
  background: #98FF98;
  border-bottom-right-radius: 38px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  margin-top: 0;
  color: #000000;
  font-family: Roboto;
}
.Header h1 { /*Styling the vaccino title*/
  text-align: center;
  font-size: 3em;
}

.Header h3 { /*styling the subtitle*/
  text-align: center;
  font-size: 1.25em;
}

#box {
  border-style: solid;
  width: 18.75rem;
  height: 16.875rem;
  list-style-position: inside;
  position: relative;
  left: 1em;
  top: 18rem;
  margin: 1rem;
}

#box ul{
  padding: 1rem;
}

#box li {
  font-size: 1em;
  padding-top: 0rem;
  padding-bottom: 0.5rem;
}

.buttonGroup {
  position: fixed;
  left: 40%;
  top: 18rem;
  margin: auto;
}

#loginBtn {
  background-color: #A6F5FF;
  border: 3px solid #89CFF0;
  color: #000000;
  font-size: 20px;
  width: 10.438rem;
  height: 3.563rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

#signUpBtn {
  background-color: #A6F5FF;
  border: 3px solid #89CFF0;
  color: #000000;
  font-size: 20px;
  width: 10.438rem;
  height: 3.563rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.images {

}

#img1 {

}

#img2 {

}

#img3 {
  
}