body {
  font-family: -apple-system, Roboto, 'Segoe UI', Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.Header {
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background: #89CFF0;
  font-family: Signika Negative SC;
  color: white;
}

.Header h1 {
  text-align: center;
}

.Header h3 {
  text-align: center;
}

.Header p {
  text-align: left;
}