body {
  font-family: -apple-system, Roboto, 'Segoe UI', Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.Header {
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background: #89CFF0;
  font-family: Signika Negative SC;
  color: white;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  width: auto;
  height: 200px;
}

.Header h1 {
  text-align: center;
}

.Header h3 {
  text-align: center;
}

.Header p {
  text-align: left;
  background: #98FF98;
  border-bottom-right-radius: 38px;
  background-position: left;
  

}

#box {
  border-style: solid;
  width: 300px;
  height: 270px;
  list-style-position: inside;

}

.button {
  background-color: #A6F5FF;
  border: #89CFF0;
  color: #FFFFFF;
}

#box ul{
  padding: 8px;
}

.circle {
  background: #FFF87C;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}